*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 400px;
    width: 400px;
    gap: 10px;
    background-color: bisque;
}

.first{
    background-color: aquamarine;
}

.second{
    background-color: steelblue;
}

.third{
    background-color: slategrey;
}

.fourth{
    background-color: teal;
}